body{
    width: 1000px;
    background-image: linear-gradient(90deg,#66B342, #519DE3);
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

p{
    color : white;
    font-weight:bolder;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div {
    position: relative;
    width: 300px;
    left:1000px;
    top:50px;
  }
  
  input.i-1 {
    font-size: 20px;
    color: #ffffff;
    width: 300px;
    border: none;
    border-bottom: solid #ffffff 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
  }
  
  input::placeholder { color: #ffffff; }
  input:focus { outline: none; }
  
  span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  /* right로만 바꿔주면 오 - 왼 */
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  label {
    position: absolute;
    color: #ffffff;
    left: 10px;
    font-size: 25px;
    font-weight:bolder;
    bottom: 8px;
    transition: all .2s;
  }
  
  input:focus ~ label, input:valid ~ label {
    font-size: 20px;
    bottom: 40px;
    color: #ffffff;
    font-weight: bold;
  }
  
  input:focus ~ span, input:valid ~ span {
    width: 100%;
  }

  .btn-1{
    text-align: center;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: #519DE3;
}



 .btn-2{
    text-align: center;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15px;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

a{
    text-decoration: none;
    color:white;
}


a:visited {color:white}

a.a-1:visited { color:#519DE3; }


body{
  animation: fadein 0.3s ;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
